<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/styles/login.css">
</head>
<body>
    <div>
        <h1>Bienvenido al server !!</h1>
        <form id="loginForm" action="/login" method="post" onsubmit="return validarFormulario()">
            <label for="fname">Correo:</label><br>
            <input type="text" id="fname" name="correo" placeholder="User" pattern="[^&quot;']+" required><br>
            <label for="lname">Contraseña:</label><br>
            <input type="password" id="lname" name="contrasena" pattern="[^&quot;']+" placeholder="Password" required><br><br>
            <input type="submit" value="Iniciar Sesión">
            <input type="button" value="Registrarse" onclick="window.location.href='registro'"><br><br>
            <a href="/solicitar-restablecimiento">¿Olvidaste tu contraseña?</a>
        </form>
    </div>
</body>
</html>

<script>
    function validarFormulario() {
        var usuario = document.getElementById("fname").value;
        var contrasena = document.getElementById("lname").value;

        if (usuario.trim() === '' || contrasena.trim() === '') {
            alert("Por favor, complete ambos campos.");
            return false; // Detiene el envío del formulario si los campos no están completos
        }

        return true; // Permite el envío del formulario si los campos están completos y no contienen comillas
    }
</script>
