<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Nuevo Usuario</title>
    <link rel="stylesheet" href="assets/styles/registro.css">
</head>
<body>
    <div class="container">
        <h2>Registro de Nuevo Usuario</h2>
        <form id="registrationForm" action="/registro" method="post">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="newusuario" name="newusuario" placeholder="Ingrese su usuario" required>
            <label for="username">Correo:</label>
            <input type="text" id="newusuario" name="newcorreo" placeholder="Ingrese su correo" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" required>

            <input type="submit" value="Registrarse">
        </form>
    </div>
</body>
</html>
