<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="assets/styles/registro.css">
    <title>Registro</title>
</head>
<body>
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Universidad Tecnológica de Namek</h2>
                <p>Si cuentas con un usuario...</p>
                <input type="button" value="Inicia Sesión" onclick="window.location.href='login'">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Registrate</h2>
                <br>
                <p>O usa tu email para registrarte.</p>
                <form class="form form-register" id="registrationForm" action="/registro" method="post">
                    <div>
                        <label for="username">
                            <i class='bx bx-envelope' ></i>
                            <input type="text"  id="newusuario" name="newusuario" placeholder="Nombre de usuario" required >
                        </label>
                    </div>
                   <div>
                        <label for="username">
                            <i class='bx bx-lock-alt' ></i>
                            <input type="text" id="newusuario" name="newcorreo" placeholder="Ingrese su correo" required>
                        </label>
                   </div>
                   <div>
                        <label for="password">
                            <i class='bx bx-lock-alt' ></i>
                            <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" required>
                        </label>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LcT7e8pAAAAALkh-BkeOfgeI01FPBFeoR8kii7a"></div>
                    <input type="submit" value="Registrarse">
                    
                   
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
