<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contrase単a</title>
</head>
<body>
    <h1>Restablecer Contrase単a</h1>
    <form action="/restablecer/<%= token %>" method="post">
        <label for="nuevaContrasena">Nueva Contrase単a:</label>
        <input type="password" id="nuevaContrasena" name="nuevaContrasena" required>
        <button type="submit">Restablecer Contrase単a</button>
    </form>
</body>
</html>
