<footer class="footer_insano">
    <div class="grupo_1 mb-4">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="/assets/img/na.png" alt="logo_vet">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Contacto</h2>
            <p>Teléfono: +52 656 2222 222</p>
            <p>Email: namek@namek.com</p>
            <p><a href="/views/mapa" class="map-link">Ver Mapa del Sitio</a></p> <!-- Enlace al documento mapa.ejs -->
        </div>
        <div class="box mb-5">
            <h2>NUESTRAS REDES</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo_2 position-absolute bottom-0 w-100">
        <small>&copy; 2024 <b>Universidad Tecnológica de Namek</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
