

.footer_insano {
    width: 100%;
    background-color: #0a141d;
    padding: 45px 0;
    display: flex;
    flex-direction: column;
}

.footer_insano .grupo_1 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.footer_insano .grupo_1 .box {
    flex: 1 1 30%;
}

.footer_insano .grupo_1 .box figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_insano .grupo_1 .box figure img {
    width: 250px;
}

.footer_insano .grupo_1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer_insano .grupo_1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.footer_insano .grupo_1 .red-social {
    display: flex;
}

.footer_insano .grupo_1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer_insano .grupo_1 .red-social a:hover {
    color: aqua;
}

.footer_insano .grupo_2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    margin-top: auto;
}

.footer_insano .grupo_2 small {
    font-size: 15px;
}



