
.info-section {
    background-color: #fdfcfc;
    padding: 80px 50px;
    width: 100vw;
    position: relative;
    background-image: url(''); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

  
  .info-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info-section .info-text {
    flex: 1;
  }
  
  .info-section .info-text h2 {
    margin-bottom: 20px;
  }
  
  .info-section .info-text p {
    font-size: 18px;
  }
  
  .info-section .info-image {
    flex: 1;
    text-align: center;
  }
  
  .info-section .info-image img {
    max-width: 100%;
    height: 350px;
    border-radius: 10px; 
  }
  
  @media screen and (max-width: 1000px) {
     .info-image {
      display: none;
    }

    .info-text h2{
        text-align: center;
    }
  }