.iconos-cards {
    text-decoration: none;
    color: var(--powder-blue);
}
.iconos-cards h5 {
    transition: all 200ms ease;
}

.iconos-cards i {
    font-size: 5rem;
}

.iconos-cards:hover h5 {
 font-size: 3.2rem;
 font-weight: 500;
 color: white;
}



.features03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px 50px ; */
    /* background-color: #67b79e; */
    /* border-radius: 1rem ; */
    overflow: hidden;
    height: 420px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.features__encabezado {
    background-color: #565175;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}


.features03 .container-fluid {
    max-width: 1200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.features03 .item {
    margin-bottom: 0px;
    /* height: 350px; */
}

.features03 .item-wrapper {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease;
}

.features03 .item-wrapper:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7);
}

.features03 .item-img {
    text-align: center; 
}

.features03 .item-img img {
    width: auto;
    height:150px ;
    display: block;
    margin: 0 auto;
}

.features03 .item-content {
    padding: 20px;
    background-color: #fff;
}

.features03 .item-title {
    color: var(--powder-blue);
}

.features03 .item-footer {
    margin-top: 20px;
}

.features03 .item-btn {
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.features03 .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: 1px solid transparent;
}

.features03 .btn-primary:hover {
    background-color: #0056b3;
}

.features03 .align-left {
    text-align: left;
}   