body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: none;
  width: 100vw;
  height: 90vh;
}

#form {
  padding: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#messages > li {
  padding: 0.5rem 1.5rem;
  background: #efefef;
  border-radius: 1.5rem;
  width: fit-content;
  max-width: 200px;
  height: auto;
  word-wrap: break-word; /* Ensure long words break to the next line */
}

#messages > li:nth-child(odd) {
  background: #dcdcdc;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color:  rgb(173, 149, 137);
  overflow: hidden;
  overflow-y: hidden;
}

.chat-container {
  position: relative;
  display: block;
  width: 800px;
  height: 100%;
  background-color: #333;
}

.chat__messages {
  overflow: scroll;
  overflow-x: hidden;
  height: 570px;
  background-color: #333;
}

.chat-header {
  background-color: white;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat__notification-button {
  position: absolute !important;
  left: 0;
  margin: 1rem;
}

.chat__notification-button i {
  font-size: 1.5rem;
}

.chat-name {
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}

.messagesCanvasBody{
  background-color: var(--rose-quartz) !important;
  color: black) !important;
}

.messagesCanvasHeader {
  background-color: var(--rose-quartz) !important;
  color: var(--rich-black-2) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.messagesCanvasHeader form {
  width: 100%;
}

.messageCanvasTitle {
  color: var(--rich-black-2) !important;
  font-size: 1.5rem;
  text-align: center;
}

.messagesCanvasBody ul {
  
}

.messagesCanvasBody ul li {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-top: 1px solid black;
}

.toLeft {
  margin-right: auto;
}

.toRight {
  margin-left: auto;
}

.messagesCanvasBody ul li:first-child {
  border-top: 0px solid black;
}

.messagesCanvasBody ul li a {
  font-size: 1.2rem;
  color: var(--rich-black-2);
}